<p id="notice"><%= notice %></p>

<h1>Local Files</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Name</th>
      <th>Directory</th>
      <th>Kind</th>
      <th>Size</th>
      <th>Md5</th>
      <th>Extension</th>
      <th>Creation Time</th>
      <th>Height</th>
      <th>Width</th>
      <th>Description</th>
      <th>Orientation</th>
      <th>Model</th>
      <th>File Type</th>
      <th>Mime Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_files.each do |local_file| %>
      <tr>
        <td><%= local_file.source %></td>
        <td><%= local_file.name %></td>
        <td><%= local_file.directory %></td>
        <td><%= local_file.kind %></td>
        <td><%= local_file.size %></td>
        <td><%= local_file.md5 %></td>
        <td><%= local_file.extension %></td>
        <td><%= local_file.creation_time %></td>
        <td><%= local_file.height %></td>
        <td><%= local_file.width %></td>
        <td><%= local_file.description %></td>
        <td><%= local_file.orientation %></td>
        <td><%= local_file.model %></td>
        <td><%= local_file.file_type %></td>
        <td><%= local_file.mime_type %></td>
        <td><%= link_to 'Show', local_file %></td>
        <td><%= link_to 'Edit', edit_local_file_path(local_file) %></td>
        <td><%= link_to 'Destroy', local_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local File', new_local_file_path %>
