<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @local_file.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @local_file.path %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @local_file.kind %>
</p>

<p>
  <strong>Size:</strong>
  <%= @local_file.size %>
</p>

<p>
  <strong>Md5:</strong>
  <%= @local_file.md5 %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @local_file.extension %>
</p>

<%= link_to 'Edit', edit_local_file_path(@local_file) %> |
<%= link_to 'Back', local_files_path %>
