<p id="notice"><%= notice %></p>

<h1>Local Directories</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_directories.each do |local_directory| %>
      <tr>
        <td><%= local_directory.path %></td>
        <td><%= link_to 'Show', local_directory %></td>
        <td><%= link_to 'Edit', edit_local_directory_path(local_directory) %></td>
        <td><%= link_to 'Destroy', local_directory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local Directory', new_local_directory_path %>
